* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    background-color: wheat;
}

button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}